{{#each this}}
<div class="countainer">
<div class="img">
    <img src={{userImageURL}} alt="">
</div>
<div class="information">
    <ul>
        <li>
            <p>Type: {{type}}</p>
        </li>
        <li>
            <p>Tags: {{tags}}</p>
        </li>
        <li>
            <p>Likes: {{likes}}</p>
        </li>
        <li>
            <p>Comments: {{comments}}</p>
        </li>
        <li>
            <p>Downloads: {{downloads}}</p>
        </li>
    </ul>
</div>
</div>
{{/each}}